
<div class="new-home3" :class="{noShowNewUser: isOver}">
  <img :src="bgImage" class="new-bg">
  <img :src="bgAnimateImg" class="bg-animate">

  <sticky-header
    :class="{'hide-tab': !showStickyHeader}"
    @back="onBack"
  >
    <goods-tab :class="{'hide-tab': !showGoodsTab}" id="header-tab" />
  </sticky-header>

  <div class="new-main">
    <div ref="top">
      <header-location
        background-color="transparent"
        :light="!isOver || styleConf.styleType === 2"
        @back="onBack"
      />
      <search-bar
        background-color="transparent"
        :light="styleConf.styleType === 2"
      />
    </div>

    <div class="new-container">
      <!-- 虚拟高度 -->
      <div class="new-empty-box" v-if="!isOver" @click="$refs.newCoupon.goNewZonePage()"></div>
      <!-- 新人优惠券 -->
      <new-coupon ref="newCoupon"/>
      <!-- 新人商品 -->
      <goods-horizontal ref="newGoods" :over="isOver" />

      <div v-for="item of marketComponents" :key="item.id">
        <swiper-banner-component
          v-if="item.id == '1'"
          v-show="marketBanner.show"
          ref="marketBanner"
          :config.sync="marketBanner"
          from="首頁頂通廣告" />
        <!-- 灯笼广告 -->
        <lantern-swiper v-else-if="item.id == '2'" />
        <!-- 小灯笼 -->
        <small-lantern v-else-if="item.id == '3'" />
        <!-- 中通广告 -->
        <swiper-banner-component
          v-else-if="item.id == '5'"
          v-show="marketHomeMidBanner.show"
          ref="marketHomeMidBanner"
          :config.sync="marketHomeMidBanner"
          :clickType="2"
          from="超市首頁中通"
        />
        <!-- 瓷片區廣告 -->
        <center-ad v-else-if="item.id == '4'" />
        <!-- 1.8秒杀 -->
        <seckill v-else-if="item.id == '7'" />
        <!-- 附近商家 -->
        <nearby-store ref="near" v-else-if="item.id == '8'" />
        <!-- 分组栏 -->
        <goods-zone ref="goods" v-else-if="item.id == '6'" />
      </div>
    </div>
  </div>

  <history-order-float ref="history" />
</div>
