<scroll-bar :down-callback="onDownCallback" ref="goods" v-slot:default="{list, next,loading}" :http="getData"
  :immediate="false" :init="false" class="market-store-search-scroll" :class="{fixed:!showData}"
  :style="{backgroundColor: showData ? '#F5F5F7' : '#fff'}">
  <main class="searchGoodsDetail9" v-if="marketSearchReady">
    <header style="z-index: 99;">
      <div :class="safeClassName" style="background-color: #fff;"></div>
      <!-- 搜索文本框 -->
      <div class="searchInput">
        <form action="/">
          <div class="back" v-if="showBack" @click="onSearchBack">
            <svg-icon icon-class="mf_icon_arrow_left_b" class="size" />
          </div>
          <van-search @focus="onFocus" autofocus :show-action="showAction" v-model="keywords" @search="handlenSearch"
            @cancel="handlenCancel" shape="round" :placeholder="`店内${marketStoreDetail.productCount || 0}件商品`" ref="search">
            <template #left-icon>
              <svg-icon icon-class="icon_system_search" class="icon-search" />
            </template>
          </van-search>
        </form>
        <!-- 分類橫向滾動 -->
      </div>
      <!-- 搜索条件 -->
      <div class="searchType" v-if="showData">
        <van-tabs @click="handleSortType" class="goodTabs" :ellipsis="false" title-active-color="#333"
          title-inactive-color="rgba(49,46,75,0.5)" line-width="20">
          <van-tab :title="item.title" :name="item.id" v-for="(item, index) in sortType" :key="item.id">
            <span class="tab-slot" :class="{up: item.up}" slot="title">
              {{ item.title }}
              <div class="arrow-icon" v-if="item.up != null"></div>
            </span>
          </van-tab>
        </van-tabs>
      </div>
    </header>
    <!-- 搜索关键词、历史记录 -->
    <keyword :show-data="showData" @change="onChangeHistory" @search="handlenSearch" v-if="!showData" />
    <!-- 搜索商品 -->
    <div class="goods-box3" v-if="showData">
      <!-- 店内搜索 -->
      <InStore :list="list" :key="list.length" :loading="loading"></InStore>
      <goods-end style="margin-bottom:120px" />
    </div>
  </main>

  <!-- 可售时间 -->
  <StoreTakeoutTimeComponents />
</scroll-bar>